/* CSS Document */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #333;
    font-size: 15px;
    line-height: 1.8;
    word-break: break-all;
}

a {
    color: #7db9e7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:hover img {
    text-decoration: none;
    opacity: 0.8;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

img,
video,
object {
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: bottom;
    display: block;
}

#backToTop {
    position: fixed;
    z-index: 9999;
    bottom: 25px;
    right: 25px;
}

#backToTop a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #47c79d;
}

/*--------------------------------
　全体
---------------------------------*/

.inner {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

/*--------------------------------
　header
---------------------------------*/

#header {
    background-color: #ccc;
    /*    margin-bottom: -10px;*/
}

#header .logo a {
    color: #000;
    text-decoration: none;
}

div.logo{
        font-size: 28px;
    font-family: serif;
}

div.header {
    margin-top: -10px;
    width: 100%;
}

/*--------------------------------
　globalnavi
---------------------------------*/

.gnav {
    background-color: #eee;
}

nav a:hover {
    color: #F7CB4D;
    border-bottom: 2px solid #F7CB4D;
}

li {
    margin-left: 15px;
    line-height: 45px;
}


/*--------------------------------
　ハンバーガー
---------------------------------*/

.header {
    display: flex;
    justify-content: space-between;
    background: #ddd;
    padding: 20px;
}

.nav-button {
    display: none;
}

.nav {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    color: #448aff;
}

.nav-wrap.open {
    display: block;
    z-index: 100;
}

.nav-wrap.close {
    display: none;
}

@media screen and (min-width: 769px) {
    .nav-wrap {
        display: block !important;
    }
    ul.nav {
    display: flex;
}
}

.content {
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .nav-button {
        display: block;
        cursor: pointer;
    }

    .nav-wrap {
        position: fixed;
        left: 0;
        top: 0;
        display: none;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
    }


    /*メニューボタンのエフェクト*/
    .nav-button,
    .nav-button span {
        display: inline-block;
        transition: all 0.4s;
        box-sizing: border-box;
    }

    .nav-button {
        /*    z-index: ;*/
        position: relative;
        width: 40px;
        height: 36px;
    }

    .nav-button span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;
    }

    .nav-button span:nth-of-type(1) {
        top: 0;
    }

    .nav-button span:nth-of-type(2) {
        top: 16px;
    }

    .nav-button span:nth-of-type(3) {
        bottom: 0;
    }

    .nav-button.active span:nth-of-type(1) {
        -webkit-transform: translateY(16px) rotate(-45deg);
        transform: translateY(16px) rotate(-45deg);
    }

    .nav-button.active span:nth-of-type(2) {
        opacity: 0;
    }

    .nav-button.active span:nth-of-type(3) {
        -webkit-transform: translateY(-16px) rotate(45deg);
        transform: translateY(-16px) rotate(45deg);
    }

    a.nav-button.active {
        z-index: 150;
    }
}



/*--------------------------------
　section
---------------------------------*/

.section {
    background-color: #ddd;
    height: auto;
    padding: 30px 0;
}


/*--------------------------------
　.slide
---------------------------------*/

.topSlideWidget {
    position: relative;
}

.slideshow {
    /*    position: relative;*/
    width: 100%;
    /* 画像の横幅 */
    height: 550px;
    /* 画像の縦幅 */
    position: relative;
}

.slideshow img {
    position: absolute;
    left: 0;
    /*        top: -261px;*/
    opacity: 0;
    transition: 1s;
    /* フェードの時間(秒) */
    width: 100%;

}

.slideshow .show {
    opacity: 1;
    /*    z-index: 1;*/
}

/*
.topimg{
    margin: 150px;
}
*/

.onText {
    margin-top: 250px;
    z-index: 10;
}

#topSlideWidget {
    overflow: hidden;
}

p.onText {
    text-align: center;
    z-index: 11;
    /*    position: absolute;*/
    /*    margin: 500px 500px;*/
    margin-left: 75px;
    margin-right: 75px;
    margin-top: -456px;
    color: #ff0495;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    font-size: 15px;
    position: relative;
}


/*--------------------------------
　.section1 コンセプト
---------------------------------*/
#section1 {
    margin-top: 12%;
    text-align: center;
    background-color: #c9fdf7;
    position: relative;
}

.title {
    font-size: 25px;
    text-align: center;
}

.concepttext {
    background-color: #f7efc2;
    z-index: 1;
    width: 85%;
    margin: 0 auto;
}

.contents {
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    margin: 15px 10px;
    border: 1px solid black;
}

p.ivent {
    padding-top: 30%;
    font-family: fantasy;
}


/*--------------------------------
　plan
---------------------------------*/
#section02 {
    background-color: #fdf9c3;
    height: auto;
}

.plantext {
    width: 100%;
    background-color: #fff;
    text-align: center;
    margin-top: 10px;
}



.plantext span {
    width: 100%;
    background-color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.monthplan {
    font-size: 20px;
}

.box1 {
    width: 70%;
    border: 1px dotted;
    margin: 0 auto;
    margin-bottom: 0;
}

span.place {
    color: #ff003b;
    font-size: 200%;
    line-height: 35px
}

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    margin: 5%;
    width: 40%;
}

.btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    border-bottom: none;
    /*線を消す*/
}

.step_h {
    font-size: 150%;
    text-align: center;
}

.order_flow {
    text-align: center;
}

.text-center {
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}

/*--------------------------------
　今月のお届け
---------------------------------*/
#section03 {
    background-color: #fdd0c3;
    height: auto;
}

.dit {
    text-align: center;
}

h3.dit {
    font-size: 150%;
}

h2.dit {
    font-size: 150%;
}

span {
    font-size: 120%;
}

div.text {
    text-align: center;
}



/*--------------------------------
　入力フォーム
---------------------------------*/
.contact-form {
    padding-top: 5%;
}

input,
textarea {
    width: 70%;
    margin-top: 5%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

input {
    margin-top: 0;
}

textarea {
    margin-top: 0;
}

.contact-submit {
    background-color: #dee7ec;
    color: #889eab;
}

input.special {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0;
    text-decoration: none;
    color: #67c5ff;
    margin-top: 15%;
    width: 40%;
    background-color: #fff;
}

input.special:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top: 100%;
    left: 0;
    border-radius: 3px;
    background: #67c5ff;
    transition: .2s;
}

input.special:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}

.formnona {
    margin-top: 5%;
}

/*--------------------------------
  Footer
---------------------------------*/

#footer {
    background-color: #aaa;
    width: 100%;
    /*    margin-top: 25%;*/
}

#footer .inner {
    padding: 20px 10px;
}

#footer .footer-link a {
    color: #fff;
}

#footer .copyright {
    font-size: 12px;
}

#footer .copyright a {
    color: #333;
}

/*media Queries 767
----------------------------------------------------*/

@media screen and (max-width: 767px) {}
